{% extends "partials/landing_base.html" %}
{% load static %}

{% block head_title %}
SiteStore | Home
{% endblock head_title %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'assets/css/home/home.css' %}">
{% endblock stylesheet %}

{% block content %}

{% include 'includes/navbar.html' %}


<!-- Main Layout -->
<main class="main-layout">
    <div class="screen-overlay"></div>

    <!-- Sidebar -->
    {% include 'includes/sidebar.html' %}

    <div class="content-wrapper">
        <!-- Category List -->
        {% include 'includes/category.html' %}

        <!-- Video List -->
        <div class="video-list" id="video-list">
            {% csrf_token %}
            <style>
                .video {
                    width: 300px;
                    border: 1px solid #ddd;
                    border-radius: 5px;
                    padding: 10px;
                    text-align: center;
                    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                }
            
                .video img {
                    border-radius: 5px;
                    max-width: 100%;
                    height: auto;
                }
            
                #loader {
                    font-size: 18px;
                    margin: 20px 0;
                }
            
                #load-more {
                    position: fixed;
                    left: 50%;
                    transform: translateX(-50%);
                    /* Center the button horizontally */
                    bottom: 20px;
                    /* Adjust this value to set how far from the bottom it should be */
                    padding: 10px 20px;
                    background-color: #007bff;
                    color: white;
                    border: none;
                    border-radius: 5px;
                    font-size: 16px;
                    cursor: pointer;
                    z-index: 1000;
                    /* Ensure it's above other content */
                }
            
                #load-more:hover {
                    background-color: #0056b3;
                }
            </style>
            <button style="opacity: 0;visibility: hidden;pointer-events: none;z-index: -100;" id="load-more">Load More</button>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script>
                $(document).ready(function () {
                    const $videoList = $('#video-list'); // The container for videos
                    const $loader = $('#loader'); // Loader for the loading animation
                    const perPage = 20; // Number of videos per page
                    let currentPage = 1; // Start with the first page
                    let isFetching = false; // Flag to prevent duplicate API calls
                    let totalVideos = null; // Total videos to fetch (set after the first API response)

                    const urlParams = new URLSearchParams(window.location.search);
                    let searchQuery = urlParams.get('query') || 'hot teen';
                    function removeQueryFromUrl() {
                        const newUrl = window.location.origin + window.location.pathname;
                        history.replaceState(null, '', newUrl); // Update the URL without the query parameters
                    }
                    function renderVideos(videos) {
                        videos.forEach(video => {
                            const videoElement = `
                                        <a href="/video/${video.id}" class="video-card" data-video-id="${video.id}">
                                            <div class="thumbnail-container">
                                                <img src="${video.default_thumb.src}" alt="${video.title}" class="thumbnail">
                                                <p class="duration">${video.length_min}</p>
                                            </div>
                                            <div class="video-info">
                                                <img src="https://yt3.googleusercontent.com/LrCNrwOMkNOpLKnRl0GgvIQOgo1mR90oXa1pjbuSRIRBT3_FMTYUbdEllsUTxt7Wq8-qPOdd=s160-c-k-c0x00ffffff-no-rj"
                                                    alt="Channel Logo" class="icon">
                                                <div class="video-details">
                                                    <h2 class="title">${video.title}</h2>
                                                    <p class="channel-name">CodingLab</p>
                                                    <p class="views">${video.views} Views • ${video.rate} <b>⭐️</b></p>
                                                </div>
                                            </div>
                                        </a>
                                        `;
                            $videoList.append(videoElement);
                        });
                    }

                    function fetchVideos(page, query) {
                        if (isFetching) return; // Prevent duplicate requests
                        isFetching = true;
                        $loader.show(); // Show the loader while fetching

                        $.ajax({
                            url: 'https://www.eporner.com/api/v2/video/search/',
                            data: {
                                query: query, // Use the provided search query
                                per_page: perPage,
                                page: page,
                                thumbsize: 'big',
                                order: 'top-weekly',
                                gay: 1,
                                lq: 1,
                                format: 'json',
                            },
                            method: 'GET',
                            success: function (response) {
                                if (!totalVideos) totalVideos = response.total_count; // Set total videos on the first response
                                if (response.videos && response.videos.length > 0) {
                                    renderVideos(response.videos); // Render fetched videos
                                    currentPage++; // Move to the next page
                                    isFetching = false; // Reset the flag
                                }

                                // Stop loading if we've fetched all videos
                                if (currentPage > Math.ceil(totalVideos / perPage)) {
                                    $('#load-more').hide(); // Hide Load More button if no more videos to load
                                    $loader.hide(); // Hide the loader
                                }
                                removeQueryFromUrl();
                                $.ajax({
                                    headers: {
                                        'X-CSRFToken': $("input[name='csrfmiddlewaretoken']").val(),
                                    },
                                    url: '/save-video-data/',  // Your endpoint to save data
                                    method: 'POST',
                                    data: JSON.stringify(response),  // Send the whole response
                                    contentType: 'application/json',

                                    success: function () {
                                        console.log('Video data saved successfully');
                                    },
                                    error: function (error) {
                                        console.error('Error saving video data:', error);
                                    }
                                });
                            },
                            error: function (error) {
                                console.error('Error fetching videos:', error);
                                isFetching = false; // Reset the flag on error
                                $loader.hide(); // Hide the loader
                            },
                        });
                    }

                    // Load More Button click event
                    $('#load-more').on('click', function () {
                        fetchVideos(currentPage, searchQuery); // Fetch the next set of videos with current search query
                    });

                    // Initial fetch (default search term)
                    fetchVideos(currentPage, searchQuery);

                    $('.search-form').on('submit', function (e) {
                        e.preventDefault();
                        const searchInput = $('.search-input').val().trim();
                        searchQuery = searchInput || 'hot teen'; // Update the query
                        $videoList.empty(); // Clear current videos
                        currentPage = 1; // Reset to first page
                        totalVideos = null; // Reset total count
                        fetchVideos(currentPage, searchQuery); // Fetch videos for new query
                    });

                    var isLoading = false;

                    // Infinite Scroll Logic
                    $('.content-wrapper').on('scroll', function () {
                        const scrollPosition = $(this).scrollTop();
                        const contentHeight = $(this)[0].scrollHeight;
                        const wrapperHeight = $(this).outerHeight();

                        if ((scrollPosition + wrapperHeight) / contentHeight >= 0.9 && !isFetching) {
                            fetchVideos(currentPage, searchQuery);
                        }
                    });

                    // Initial Fetch
                    fetchVideos(currentPage, searchQuery);

                    document.addEventListener('DOMContentLoaded', () => {
                        const videoCards = document.querySelectorAll('.video-card');
                        videoCards.forEach(card => {
                            const videoId = card.getAttribute('data-id');
                            if (videoId) {
                                card.setAttribute('href', `/video/${videoId}`);
                            }
                        });
                    });
                });
            </script>
        </div>
    </div>
</main>



{% endblock content %}