asgiref==3.8.1
attrs==24.2.0
cattrs==24.1.2
certifi==2024.8.30
charset-normalizer==3.4.0
diff-match-patch==20241021
Django==5.1.2
django-import-export==4.2.0
idna==3.10
platformdirs==4.3.6
requests==2.32.3
requests-cache==1.2.1
six==1.16.0
sqlparse==0.5.1
tablib==3.7.0
url-normalize==1.4.3
urllib3==2.2.3
